h1 {
  color: red;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 34px 20px;
}

div{
  display: inline-block;
}

.one-third {
  width: 33%;
}
