
.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
}

.jumbotron-home {
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589856895/Travel%20Blog/4BBFE348-3972-4299-994D-ECC0313396F6_oyy1rn.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
    }

.jumbotron-hanoi {
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589856895/Travel%20Blog/4BBFE348-3972-4299-994D-ECC0313396F6_oyy1rn.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
    }

.jumbotron-narita {
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589905207/Travel%20Blog/863A19D3-63E0-4243-9D67-120F1ADBAE6E_pn53ui.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
    }

.jumbotron-berlin{
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589905205/Travel%20Blog/7DDBD54E-438F-4907-84D7-7A318035D6D1_bqnbqm.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
    }

.jumbotron-amsterdam{
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589905208/Travel%20Blog/77DAAD62-03ED-43BA-A568-E9D64A605FF4_o6gc05.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
    }

.jumbotron-montreal{
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589927961/Travel%20Blog/997F936A-630F-4D1E-93E2-E010DCF2D5C5_eo3ejv.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
    }

.jumbotron-quebec{
      background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589905205/Travel%20Blog/4146F2F0-12CC-4FFB-9941-728558ED402E_izullb.jpg") no-repeat center center;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      padding-bottom: 20%;
      border-radius: 0 !important;
  }

.jumbotron-gear{
    background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589950125/Travel%20Blog/C93DE141-A2F9-4C93-A567-3C635C2F0AF8_1_iezjbo.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 0 !important;
}

.jumbotron-about{
    background: url("https://res.cloudinary.com/ddsu9p7mq/image/upload/v1589854369/Travel%20Blog/DDAB45A2-50F4-4EE7-9EF9-E4CD5ADB77A5_etsqfs.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 0 !important;
}

.carousel {
  width: 900px;
  height: 400px;
  margin: 0 auto;
}

.carousel-inner>.item>img {
  margin: 0 auto;
}

h1 {
  text-align: center !important;
  font-family: 'Courgette', cursive !important;
  margin: 0;
  font-size: 85px !important;
  color: white;

}

h1 span {
  text-align: center !important;
  font-family: 'Courgette', cursive !important;
  margin: 0;
  color: white;
  font-size: 50px;
}

h2 {
  text-align: center !important;
  font-family: 'Courgette', cursive !important;
  margin: 0;
}

.img {
  z-index: 0;
  padding-bottom: 15px;

}

.image-text {
  z-index: 1;
  font-size: 4em;
  margin-top: -165px;
  color: white;
}

.intro-text {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.intro-appear {
  opacity: 1;
  transform: translateY(0px);
}


h3 {
  font-family: 'Adamina', serif;
  text-align: center;
  font-size: 20px;
  padding: 130px 75px;
  line-height: 40px;
}

p {
  font-family: 'Adamina', serif;
  text-align: center;
  font-size: 17px;
  padding: 20px 75px;
  line-height: 30px;
}


h4 {
  font-family: 'Adamina', serif;
  text-align: center;
  font-size: 17px;
  padding: 20px 75px;
  line-height: 30px;
}


@media (min-width: 979px) {
	body {
		margin-top:40px !important;
	}
}
@media (max-width: 978px) {
	p {
   font-size:7.5px !important;
	 padding:0 !important;
	 margin:0 !important;
	}
  h3 {
   font-size: 8px !important;
  }
  h4 {
   font-size: 6px !important;
   padding: 0 !important;
   margin: -12px !important;
  }
  body {
     padding:0;
    }
}
